.search {
  position: relative;
  width: 250px;
  z-index: 10;
}

.inputSearch {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bg-tertiary);
   color: var(--text-primary);
  caret-color:var(--text-primary);
}

.inputSearch::placeholder {
    color: var(--text-primary);
}

.inputSearch:focus::placeholder {
  color: transparent;
}

.searchMenuBtn {
    position: absolute;
    top: 5px;
    right: 3px;
}

.searchMenuIcon {
    color: var(--text-primary)
}