.layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  padding: 50px;
}


@media (max-width: 767px) {
 .layout {
   max-width: 100%;
   padding: 10px;
 }
}
