.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b8;
    padding: 20px;
    width: 350px;
    height: 500px;
    border-radius: 15px;
}

.loginPage form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}